/*Estilo do Título */

.title{
    border-image: round;
    color:white;
    background: black;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style:normal;
    font-weight: 200px;
    text-shadow: 10cap;
    text-transform:uppercase;
    padding: 30px;

  
};

.mainPrincipal{
    background: black;
    color: black;
    text-align: white;
}