/*Pages Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Palanquin+Dark:wght@400;500;600;700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Angkor&family=Delius&family=Ramabhadra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100..900&display=swap');

/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Estilos gerais */
body {

    line-height: 1.6;
    font-family: 'Calibri', sans-serif;
    background-color: black;
    color:white;


    

    
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


/* Estilos para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    color: white;
    padding: 5px 5px 5px 0px;
    background:linear-gradient(to bottom, rgb(52, 0, 164), rgb(16, 0, 41));
    box-shadow: 0 2rem 2rem 0 rgba(0, 0, 0, 0.6),
                inset 0 -5rem 3rem 0 rgba(0, 0, 0, 0.3);
}

.barMenu {
    display: flex;
    justify-content: right;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 5rem;
    text-align: center;
}


header #mainName{
    font-size: 30px;
    font-family: 'Palanquin Dark', 'sans-serif';
    color: white;
    text-transform: uppercase;

}

/*Estilo do Menu Principal*/
.page {
    display: grid;
    gap: 20px;
    place-content: center;
    
}

.button {
    position: relative;
    color: inherit;
    width: 200px;
    height: 60px;
    font-size: inherit;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 10px;
    background: linear-gradient(-45deg, rgb(0, 0, 0) 0%, rgb(63, 63, 63) 100%);
}

.button::before, .button::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px;
    background: repeating-linear-gradient(-45deg, purple 0%, rgb(139, 124, 242) 7.14%, rgb(200, 0, 255) 14.28%, rgb(255, 0, 0) 21.42%, rgb(15, 1, 58) 28.56%, blue 35.7%, rgb(254, 174, 254) 42.84%, rgb(253, 253, 253) 50%);
    background-size: 100vw 100vw;
    animation: gradient 5s infinite linear;
    opacity: 0;
    visibility: hidden;    
}

@keyframes gradient {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100vw;
    }
}

.button:hover::before, .button:hover::after {
    opacity: 1;
    visibility: visible;
}
.button:hover::before{
    filter:blur(20px);
}

.button .navBarItem{
    content: '';
    position: relative;
    z-index: 10;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.button .navBarItem::before {
    content: '';
    position: absolute;
    width: 190px;
    height: 50px;
    background-color: transparent;
    z-index: -1;
    top: 5px;
    left: 5px;
    border-radius: 10px;
}
.button:hover .navBarItem::before{
    background-color: black;

}










/* Estilos para o conteúdo principal */
main {
    padding: 20px 0;
}

section {
    margin-bottom: 20px;
}

aside {
    background-color: black;
    padding: 20px;
    color:white;
}

/*Rodapé*/
footer{
    color: white;
    padding: 14px 35px;
    font-family: 'calibri', sans-serif;
    background:linear-gradient(to top, rgb(72, 43, 134), rgb(16, 0, 41));

    box-shadow: 0 3rem 5rem 0 rgba(0, 0, 0, 0.6),
            inset 0 -3rem 1rem 0 rgba(0, 0, 0, 0.3);  
}